/* # COLLAPSE
---------------------------------------------- */
.collapse {
  width: 100%;
  position: relative;
  overflow: hidden;
}
/*collapse-content*/
.collapse-content {border-bottom: none;}
.collapse-inner {
  background-color:$primary-color;
  height: 0; /* Inicialmente cerrado */
  overflow: hidden;
  padding: 0;
  transition: height 0.3s ease, padding 0.3s ease;
  box-sizing: border-box; 
  overflow-y:auto ;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  -ms-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  -o-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  &.expanded {
    height: 86vh; 
    padding: 10px;
  }
  /*Content*/
  .edit-content{height: 60vh;}
}

/*collapse-footer*/
.collapse-footer {
  background-color:$primary-color;
  padding: 5px;
  cursor: pointer;
  text-align: right;
  //border: 1px solid gray;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 150px;
  margin:-1px 20px 0 auto;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  -ms-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  -o-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
  }
  i {margin-left: 8px;}
  &:hover {
    border-bottom:1px solid $tertiary-color;
  }    
}

/* # GALLERY
---------------------------------------------- */
.gallery {
  p{margin-bottom:10px;}
  .gallery-grid {
    height: 110px;
    overflow-y: auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0.5rem;
    // Scrollbar
    &::-webkit-scrollbar {
      width: 10px;
      background-color: $secondary-color;
    }
    &::-webkit-scrollbar-thumb {
      background: $tertiary-color;
    }
    .img-container {
      height: 110px;
      margin-bottom: 0;
    }
  }    
}