.vertical-tabs-container {
  display: flex;

  .vertical-tabs {
    width: 200px;
    padding-top: 20px;
  
    .vertical-tab {
      padding: 10px 15px;
      cursor: pointer;
      background-color: $primary-color;
      transition: background-color 0.3s ease;      
      font-family: $secondary-font;
      font-size: 1rem;
      text-align: center;
      font-weight: 300;
      color: $primary-text-color;      
      border-bottom: 2px solid $primary-color;

      &.active,
      &:hover {        
        border-color: $highlight-color;
        font-weight: bold;
        color:$highlight-color;          
      }      
    }

  }

}

.vertical-tab-content {
  flex-grow: 1;
  padding: 20px;
  background-color: $primary-color;

  .vertical-tab-pane {
    display: none;
    &.active {display: block;}      
  }
  
}
