/* ==============================================
# SIDEBAR MENU
============================================== */
/*sidebar-menu*/
.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    border-left: 3px solid transparent;
    margin-right: 1px;  
  }
  .sidebar-menu > li > a > i {
    width: 20px;
  }
  .sidebar-menu > li .label {
    margin-top: 3px;
    margin-right: 5px;
  }
  .sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
  }
  .sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
  }
  .sidebar-menu li.active > a > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .sidebar-menu .treeview a i.fa-angle-left{
    font-size: 10px;
  }
  .sidebar-menu li.active > .treeview-menu {
    display: block;
  }
  .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
  }
  .sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
  }
  .sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 20px;
  }
  .sidebar-menu .treeview-menu > li {
    margin: 0;
  }
  .sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 15px;
    display: block;
    font-size: 14px;
  }
  .sidebar-menu .treeview-menu > li > a > i {
    width: 15px;
    font-size: 10px;
  }
  .sidebar-menu .treeview-menu > li > a > .fa-angle-left,
  .sidebar-menu .treeview-menu > li > a > .fa-angle-down {
    width: auto;
  }

/*Colours*/
.default-theme .sidebar-menu > li > a:hover,
.default-theme .sidebar-menu > li.active > a {
  background: $highlight-color;
  color: $primary-color;
  border-left-color: $highlight-color;
}
.default-theme .sidebar-menu > li > .treeview-menu {
  background: $sixty-color;
}

.default-theme .treeview-menu > li > a {
  color: $tertiary-color;
}
.default-theme .treeview-menu > li.active > a,
.default-theme .treeview-menu > li > a:hover {
  color: $primary-color;
}
